* {
    box-sizing: border-box;
}
.main-header {
    margin: auto;
    text-align: center;
}
.hidden {
    display: none!important;
}
a {
    text-decoration: none;
}
.sender {
    font-size: 0.7rem;
    font-weight: bold;
}
.name-form {
    margin: .5rem;
}
.left, .right {
    display: flex;
}

.left {
    float: left;
}

.right {
    float: right;
}
#message-box {
    margin-top: 2rem;
    border: solid 1px lightgrey;
    padding: 1rem;


}
.pic {
    max-width: 30%;
    margin: 0.5rem;
}
.btn {
    margin-top: .5rem;
}
.rps-choice {
    cursor: pointer;
}
.unclickable {
    pointer-events: none;
}